.movie-details {
  background-image: url(../../images/fightClubBackdrop.jpg);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.movie-title {
  color: white;
}

.movie-details .movie-synopsis {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.home-button {
  transition: 0.2s ease;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  transform: translate(-50%);
  -ms-transform: translate(-50%, -50%);
}

.home-button:hover {
  color: white;
}
